.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shopContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
img{
  width: 50px;
}
.item{
  margin: 5px;
}
h4{
  margin: 0;
}
.header{
  margin: auto;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.from img{
  margin: 0 5px;
  width: 15px;
}

.from{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.App div div p {
  margin: 10px auto 0;
}
select{
  margin: 25px 25px 25px 4px;
}